:root {
    --primary-colour: #E50914;
    --shadow-colour: black;
    --shadow-intensity: 0.6;
    --UIControlsSize: 30px;
}

/* --- Netflix SVG --- */

.base {
    fill: var(--primary-colour);
    transition: fill 0.4s;
}

.shadow-start {
    stop-color: var(--shadow-colour);
    stop-opacity: var(--shadow-intensity);
    
}

.shadow-end {
    stop-color: var(--shadow-colour);
    stop-opacity: 0;
}

body {
    height: 100vh;
    background: black;
    overflow: hidden;
    transition: background 0.4s;
}

